{
	"singleQuote": false,
	"semi": false,
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"trailingComma": "none",
	"endOfLine": "auto",
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"ObjectCurlySpacing": "always",
	"explicitTypes": "always",
	"HTMLWhitespaceSensitivity": "ignore",
	"importOrder": [
		"^react$",
		"^next($|/)",
		"^@tanstack/.*",
		"",
		"^zustand($|/)",
		"^lucide-react($|/)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/types($|/)",
		"^@/constants($|/)",
		"^@/schemas($|/)",
		"^@/config($|/)",
		"^@/env($|/)",
		"",
		"^@/styles($|/)",
		"^@/lib($|/)",
		"^@/helpers($|/)",
		"^@/i18n($|/)",
		"^@/messages($|/)",
		"",
		"^@/providers($|/)",
		"^@/stores($|/)",
		"^@/hooks($|/)",
		"^@/data($|/)",
		"",
		"^@/components($|/)",
		"^@/layout($|/)",
		"^@/ui($|/)",
		"^@/features($|/)",
		"^@/.*",
		"",
		"^[./]"
	],
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": ["typescript", "jsx"],
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
